.html{
  box-sizing: border-box;
}
*::before
*::after
{
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
body{
  margin: auto;
  font-family: 'Barlow', sans-serif;
}
.container{
  width: 1285px;
  margin: 0 auto;
  padding: 0 20px;
}
a:hover{
  color: blue;
  background-color: crimson;
}
.site-header-box{
  display: flex;
  justify-content: space-between;
}
.header-site-list{
  display: flex;
}
.header-site-item + .header-site-item{
  margin-left: 33px;
}
.header-site-link{
  font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
}
.section{
  position: relative;
}
.hero-box{
  background-image: url(../img/coffe-bg_img.jpg);
  background-repeat: no-repeat;
  height: 600px;
  width: 1240px;
  position: absolute;
  right: 45px;
top: 80px;
}
.hero-title{
  padding-top: 110px;
  padding-left: 85px;
  font-weight: 900;
font-size: 72px;
line-height: 72px;
color: #FEFCF7;
width: 493px;
}
.hero-text{
  font-weight: 400;
font-size: 16px;
line-height: 26px;
color: #FEFCF7;
opacity: 0.8;
width: 445px;
padding-left: 85px;
padding-bottom: 56px;
}
.hero-btn{
  margin-left: 85px;
  padding: 15px 30px;
  font-weight: 900;
font-size: 18px;
line-height: 25px;
text-align: center;
color: #FEFCF7;
background-color: #0E8784;
border-radius: 6px;
}