.html{
  box-sizing: border-box;
}
*::before
*::after
{
box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6{
  margin: 0;
}
ul,ol{
  list-style: none;
  padding: 0;
  margin: 0;
}
a{
  text-decoration: none;
}
body{
  margin: auto;
}
.container{
  width: 1285px;
  margin: 0 auto;
  padding: 0 20px;
}
a:hover{
  color: blue;
  background-color: crimson;
}
.site-header-box{
  display: flex;
  justify-content: space-between;
}
.header-site-list{
  display: flex;
}
.header-site-item + .header-site-item{
  margin-left: 33px;
}
.header-site-link{
  font-weight: 700;
font-size: 12px;
line-height: 15px;
letter-spacing: 0.923077px;
text-transform: uppercase;
color: #83888F;
}